*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0eded;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

.list-style{
    list-style: none;
}

header{
    height: 90px;
    background-color: #fff;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.header-right{
    float: right;
}